@model BloodBank.Models.TrasferTbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrasferTbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BloodTbl.BGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodTbl.BGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientTbl.PName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientTbl.PName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TNum }) |
    @Html.ActionLink("Back to List", "Index")
</p>
