@model BloodBank.Models.DonorTbl

@{
    ViewBag.Title = "Details";
}

<h2 style="color:red;">DETAILS</h2>

<div>
    <h4 style="color:blue;">Of The Donor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DBGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DBGroup)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Details", "Edit", new { id = Model.DNum }) |
    @Html.ActionLink("Back to List", "Index")
</p>
